<section>
    <div>
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus harum cum at dolore inventore et! Nihil, illo id tempora iusto eligendi quas nemo perferendis sequi officiis porro excepturi doloribus fugiat?</p>
        <br/>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, ut mollitia! Autem dolorem ipsa, earum aliquid eos aspernatur? Reprehenderit eveniet quidem dolorum unde dolorem modi, neque ipsam doloribus! Consectetur, ullam.
    </div>
</section>