<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar with Routes</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#"  routerLink="./home">Home</a></li>
          <li><a href="#"  routerLink="./work">Work</a></li>
          <li><a href="#"  routerLink="./about">About</a></li>
          <li><a href="#"  routerLink="./services">Services</a></li>
          <li><a href="#"  routerLink="./news">News</a></li>
          <li><a href="#"  routerLink="./contact">Contact</a></li>
        </ul>
      </nav>
      <router-outlet></router-outlet>
    </header>
  </body>
</html> -->

<!-- <nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/news" routerLinkActive="active">News</a>
</nav> -->

<router-outlet></router-outlet>
 